<%- include('../template/cabecera', {tituloWeb: 'Pagina 404'})%>
<div class="container my-3">
    <div class="alert alert-primary text-center" role="alert">
        Fallo el registro, por favor intentelo de nuevo.
        <div>

            <button class="btn btn-success my-5" onclick="location.href='/registro'">VOLVER</button>
        </div>
      </div>
      
</div>